 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 330px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -263px auto 0 -493px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-image-1 {
  width: 154px;
  height: 154px;
  margin: 240px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 6px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 153px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  width: 202px;
  margin: 10px auto 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 178px;
  min-width: 82px;
  margin: 23px auto 37px;
}

.u-section-2 .u-icon-1 {
  height: 44px;
}

.u-section-2 .u-icon-2 {
  height: 44px;
}

.u-section-2 .u-icon-3 {
  height: 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-social-icons-1 {
    width: 164px;
    min-width: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 151px;
    margin-top: 22px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 191px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  margin: 30px 164px 0 705px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 2rem;
  margin: -35px auto 0 186px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 178px;
  min-width: 82px;
  margin: 28px auto 0 199px;
}

.u-section-3 .u-icon-1 {
  height: 44px;
}

.u-section-3 .u-icon-2 {
  height: 40px;
}

.u-section-3 .u-icon-3 {
  height: 44px;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 178px;
  min-width: 82px;
  margin: -48px 211px 50px auto;
}

.u-section-3 .u-icon-4 {
  height: 48px;
}

.u-section-3 .u-icon-5 {
  height: 48px;
}

.u-section-3 .u-icon-6 {
  height: 48px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 119px;
    margin-left: 549px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -34px;
  }

  .u-section-3 .u-social-icons-1 {
    min-width: 68px;
    width: 164px;
  }

  .u-section-3 .u-social-icons-2 {
    min-width: 68px;
    width: 164px;
    margin-right: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-text-1 {
    width: 272px;
    margin-top: 167px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 205px;
    margin-top: -192px;
    margin-left: auto;
  }

  .u-section-3 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: 109px;
    margin-right: auto;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 156px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -171px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 22px;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: 89px;
    margin-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 207px;
    margin-top: 147px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -151px;
    margin-right: 86px;
    margin-left: 90px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 18px;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: 78px;
    margin-bottom: 7px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 354px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  margin: 41px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 45px;
  min-height: 16px;
  width: 169px;
  min-width: 82px;
  margin: 27px auto 60px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
}

.u-section-4 .u-icon-2 {
  height: 40px;
}

.u-section-4 .u-icon-3 {
  height: 48px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-social-icons-1 {
    width: 155px;
    min-width: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-4 .u-text-1 {
    width: 332px;
    margin-top: 7px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 22px;
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-4 .u-text-1 {
    width: 249px;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 20px;
  }
}