 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 383px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -263px auto 0 -493px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-image-1 {
  width: 154px;
  height: 154px;
  margin: 299px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 6px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 17px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 153px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  width: 202px;
  margin: 10px auto 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 178px;
  min-width: 82px;
  margin: 28px auto 32px;
}

.u-section-2 .u-icon-1 {
  height: 44px;
}

.u-section-2 .u-icon-2 {
  height: 44px;
}

.u-section-2 .u-icon-3 {
  height: 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-social-icons-1 {
    width: 164px;
    min-width: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 151px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-bottom: 28px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 191px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  margin: 28px 119px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 2rem;
  margin: -35px auto 0 186px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 178px;
  min-width: 82px;
  margin: 30px auto 0 199px;
}

.u-section-3 .u-icon-1 {
  height: 44px;
}

.u-section-3 .u-icon-2 {
  height: 40px;
}

.u-section-3 .u-icon-3 {
  height: 44px;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 45px;
  min-height: 16px;
  width: 169px;
  min-width: 82px;
  margin: -48px 199px 53px auto;
}

.u-section-3 .u-icon-4 {
  height: 48px;
}

.u-section-3 .u-icon-5 {
  height: 40px;
}

.u-section-3 .u-icon-6 {
  height: 48px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-3 .u-social-icons-1 {
    min-width: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -177px;
    margin-left: auto;
  }

  .u-section-3 .u-social-icons-1 {
    min-width: 82px;
    margin-left: auto;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: 94px;
    margin-right: auto;
    margin-bottom: -121px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -168px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 156px;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: -181px;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 138px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -158px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 137px;
  }

  .u-section-3 .u-social-icons-2 {
    margin-top: -171px;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 321px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  width: 271px;
  margin: 30px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 178px;
  min-width: 82px;
  margin: 30px auto 60px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
}

.u-section-4 .u-icon-2 {
  height: 48px;
}

.u-section-4 .u-icon-3 {
  height: 48px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 210px;
    margin-top: 16px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 19px;
  }
}