---
layout: default
---
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/assets/js/splashMessageScript.js"></script>
<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           AVR1H.COM
          </h1>
          <p class="splash-message" id="randomSplashMessage"></p>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
<script>
  $(document).ready(function() {
      console.log("Script is running");
      // Array of images
      var images = ["me0.png", "me1.png", "me2.png", "me3.png", "me4.png"];
      
      // Randomly select an image from the array
      var randomImage = images[Math.floor(Math.random() * images.length)];
      
      // Delay the execution of the image-changing logic by 2 seconds
      setTimeout(function() {
          // Replace the placeholder image with the randomly selected image
          var imgElement = $("img[src='/assets/img/me-loading.png']");
          console.log("Selected image element:", imgElement);
      
          imgElement.attr("src", "/assets/img/" + randomImage + "?v=" + new Date().getTime());
          console.log("Updated image src:", imgElement.attr("src"));
          console.log("Random image selected:", randomImage);
      }, 1200);
  });
  </script>